<html>
  <head>
    <title>Contactez-nous</title>
    <%= stylesheet_link_tag 'contact', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <header>
    <div class="menu">
      <%= link_to "Home", "/gossips", class: "lien" %>
      <%= link_to "Contact", "/static_contact/contact", class: "lien" %>
      <%= link_to "Team", "/static_team/team", class: "lien" %>
      <a class="btnnew" href="/gossips/new">
        New gossip
        <%= image_tag "plus.png", class: "plusimg", alt: "Plus" %>
      </a>
    </div>
  </header>

  
  <main>
  <div class="contact-content">
    <h1>Nous Contacter</h1>
    <p>Pour toute demande, vous pouvez nous joindre à l'adresse suivante : <strong>contact@gossipproject.com</strong>.</p>
    <div style="margin: 50px 0;"></div> <!-- Saut de ligne avec espacement -->
    <p>Nous restons à votre disposition pour toute information.</p>
  </div>
</main>









  </body>
</html>


