<p>Prenom : <%= @user.user.first_name %> </p>
<p>Nom: <%= @user.user.last_name %> </p>
<p>Description : <%= @user.user.description %> </p>
<p>email : <%= @user.user.email %> </p>
<p>Age : <%= @user.user.age %> </p>
<p>Ville : <%= @user.user.city.name %> </p>


